version: '3'
services:
    app-api:
        build:
            context: .
            dockerfile: Dockerfile
        image: app:api
        container_name: app-api
        ports:
            - "8081:8081"
        volumes:
            - .:/mnt/app
        working_dir: /mnt/app
        depends_on:
            - app-db
    app-db:
        image: mysql:5.7
        container_name: app-db
        ports:
            - "3300:3306"
        command: --init-file /mnt/init.sql
        environment:
            MYSQL_DATABASE: ''
            MYSQL_USER: ''
            MYSQL_PASSWORD: ''
            MYSQL_ROOT_PASSWORD: 'root'
        volumes:
            - ./src/config/database.sql:/mnt/init.sql
            - ./migrations:/mnt/db-migrations
            - ./.mysql:/var/lib/mysql
